.error__message {
  display: flex;
  font-size: 30px;
  // color: white;
  //color: rgb(250, 79, 58);
  color: white;
  font-family: "Macondo", cursive;
  background-color: hsl(0, 0%, 50%, 0.8);
  width: fit-content;
  margin: 20px;
  // padding: 10px;
}
