* {
  caret-color: transparent;

}

.wrapper {
  background-image: url('../src/assets/chris-lawton-zvKx6ixUhWQ-unsplash.jpg');
  height: fit-content;
  /* position: relative; */

}


.main {
  background-image: url('../src/assets/chris-lawton-zvKx6ixUhWQ-unsplash.jpg');
  background-size: cover;
  height: 100vh;

  /* background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative; */



  @media screen and (max-width: 800px) {
    /* background-size: contain; */
    background-repeat: no-repeat;
  }
}

.books__container {
  background-image: url('../src/assets/chris-lawton-zvKx6ixUhWQ-unsplash.jpg');
  background-size: cover;
  background-repeat: repeat;
  height: 100%;
  margin-top: -150px;

}




.container__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  /* height: 100vh; */
  gap: 30px;
  width: 50vw;
}